version: '3.8'

services:
    php_fpm:
        container_name: bothelp_php
        volumes:
            - .:/var/www
        environment:
            - XDEBUG_HOST=192.168.1.1
            - XDEBUG_PORT=9000
            - PHP_IDE_CONFIG=serverName=127.0.0.1

    redis:
        volumes:
            - redis:/data

volumes:
    redis:
        driver: local
